h5 {
    margin: 10px;
    color: white;
}
h6 {
    margin: 11px;
    color: white;
}
i.fa {
    margin-right: 10px;
}
h6.alert {
    color: white;
}
input {
    margin: 20px;
}
hr {
    height: 20px;
    background-color: mediumvioletred;
}