<div class="alert alert-danger fade in" *ngIf="error">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Oh Snap!</strong> {{errorMessage}}
</div>

<form class="center-block" #regForm="ngForm">
  <h1>Register</h1>
  <!--<event-list (loadingChange)="eventListLoadingChange($event)"></event-list>-->
  <div *ngIf="activeStep >= 1">
    <h5>Step 1 - Enter your Team Name</h5>
    <input [(ngModel)]="teamName" name="teamName" type="text" placeholder="Team Name" required>
  </div>
  <div *ngIf="activeStep >= 2">
    <h5>Step 2 - Add Team Members</h5>
    <h6 *ngFor="let memberName of memberNames">{{memberName}}</h6>
    <input *ngIf="activeStep == 2" [(ngModel)]="teamMember" name="teamMember" type="text" placeholder="Member Name" [required]="memberNames.length == 0">
    <button *ngIf="activeStep == 2" class="btn" (click)="addTeamMember()"><i class="fa fa-plus-circle"></i> Member</button>
  </div>
  <div *ngIf="activeStep >= 3">
    <h5>Step 3 - Enter Team Password</h5>
    <input [(ngModel)]="password" (ngModelChange)="passwordChanged($event)" name="password" type="password" placeholder="Password" required minlength="4" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,}$">
    <input [(ngModel)]="confirmPassword" (ngModelChange)="passwordChanged($event)" name="confirmPassword" type="password" placeholder="Confirm Password" required minlength="4" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,}$">
    <h6 *ngIf="!passwordsMatch" class="alert alert-danger text-center">Passwords must match!</h6>
    <h6 *ngIf="regForm.form.invalid" class="alert alert-danger">
      <ol>
        <li>4 or more characters</li>
        <li>Numbers and letters</li>
        <li>At least 1 of each</li>
      </ol>
    </h6>
  </div>
  <div *ngIf="activeStep < 4">    
    <button class="btn" (click)="nextStep()">Next <i class="fa fa-chevron-circle-right"></i></button>
  </div>
  <div *ngIf="activeStep >= 4">
    <h5>Step 4 - All set for awesomeness...</h5>
    <button class="btn" [class.btn-warning]="error" [class.m-progress]="submitting" (click)="onRegister()" [disabled]="!regForm.valid || !passwordsMatch || submitting">Register</button>
  </div>
  <div>
    <hr>
    <button class="btn btn-default" [routerLink]="['/login']">Already Registered - Login</button>
  </div>
</form>

<rpc-loader [fullscreen]="true" [showIf]="loading"></rpc-loader>