<form class="center-block">
    <h1>Register</h1>
    <event-list (loadingChange)="eventListLoadingChange($event)"></event-list>
    <input [(ngModel)]="teamName" name="teamName" type="text" placeholder="Team Name" required>
    <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
    <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" required>
    <button class="btn" [class.btn-warning]="error" (click)="onRegister()">
            <span *ngIf="!submitting">Register</span>
            <rpc-loader [showIf]="submitting"></rpc-loader>
    </button>
</form>

<rpc-loader [fullscreen]="true" [showIf]="loading"></rpc-loader>
<message-flyover [showIf]="error" [title]="'Oh Snap!'" [message]="errorMessage" [buttonMessage]="'Try again...'" (buttonClicked)="onTryAgain()"></message-flyover>