$primary-color: rgb(220, 45, 130);

nav h3 {
  font-size: 14px;
  text-transform: uppercase;
  display: inline;
}

nav h3 span {
  color: $primary-color;
}

nav {
  background-color: black;
  padding: 10px;
  border-bottom: 2px solid white;
  a {
    color: white;
    padding-left: 6px;
  }
  a:hover {
    color: $primary-color;
    background: black;
  }
}

.dropdown-menu {
  background: black;
  margin: 13px -9px 0px 0px;
}