nav h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  display: inline;
}

nav {
  color: white;
  background-color: rgb(60, 60, 60);
  padding: 10px;
}

nav a {
  color: white;
  border-left: 1px solid white;
  padding-left: 4px;
}