<rpc-navbar></rpc-navbar>
<h1 class="text-center">Challenges</h1>
<rpc-loader [showIf]="loading"></rpc-loader>
<button class="btn center-block" 
    *ngFor="let challenge of challenges" 
    [routerLink]="['/challenge/', challenge.ChallengeId]"
    [class.completed]="challenge.Completed" 
    [disabled]="!challenge.NextChallenge">
    {{challenge.Name}}
    <i class="fa fa-check-circle pull-right" *ngIf="challenge.Completed"></i>
</button>
<div *ngIf="allChallengesCompleted" class="all-complete text-center">
    <h3 class="text-center">Aww yay!  You completed them all!</h3>
    <p>What do I do now?</p>  
</div>