<img src="/assets/rpc_students.png" class="logo center-block" alt="RPC Students">
<img src="/assets/faceoff_logo.png" class="logo center-block" alt="Face Off">

<div class="container">
    <div class="countdown vertical-center-row" *ngIf="!allowLogin">
        <h6>THE CHALLENGE BEGINS IN</h6>
        <span><hr></span>
        <h6>{{timeleft}}</h6>
    </div>
    <div class="vertical-center-row" *ngIf="allowLogin">
        <button class="btn login center-block fade in" (click)="onLogin()">Begin Challenge</button>
    </div>
</div>

<div class="container">
    <div class="vertical-center-row welcome-message">
        Welcome to <br>
        <b>Face Off 2016!!</b><br><br>
        Here is what you'll need:
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-chevron-circle-right"></i>Oreos</li>
            <li><i class="fa-li fa fa-chevron-circle-right"></i>Toilet Paper</li>
            <li><i class="fa-li fa fa-chevron-circle-right"></i>Toothpicks</li>
            <li><i class="fa-li fa fa-chevron-circle-right"></i>Marshmallows</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="vertical-center-row">
        <button class="btn center-block" [routerLink]="['/register']" [disabled]="!allowLogin">Register Now</button>
    </div>
</div>

<div class="container">
    <div class="vertical-center-row more-info-link">
        For More Info <br>
        <b><a href="http://rockpointchurch.com/faceoff">rockpointchurch.com/faceoff</a></b>
    </div>
</div>