h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    margin: 20px;
}

h6 {
    font-weight: 400;
    margin: 4px;
    font-size: 16px;
}

p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    max-width: 500px;
}

a {
    color: white;
}

.logo {
    display: block;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.countdown {
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    width: 250px;
    height: 75px;;
}

.welcome-message {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.more-info-link {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.login {
    text-align: center;
    font-size: 22px;
    margin: auto;
    padding: 5px;
    width: 250px;
    height: 75px;
    background: transparent;
    color: white;
    box-shadow: 0 0 0 0;
    border: 2px solid white;
    border-radius: 8px;
    text-transform: uppercase;
}

hr {
    height: 4px;
    border-radius: 2px;
    background: white;
    margin: 6px;
}

button {
    background: white;
    color: rgb(220, 45, 130);
    margin-bottom: 40px;
}

.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}