<rpc-navbar></rpc-navbar>
<h1 class="text-center">{{name}}</h1>
<div class="video-player center-block">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" [src]="embedUrl"> </iframe>
  </div>
</div>
<h5 class="text-center">{{description}}</h5>
<button class="btn btn-default center-block" (click)="onFaceOff(input)">Face Off!</button>
<input class="hidden" type="file" accept="image/*" (change)="fileChange(input)" #input />
<div *ngFor="#file_src of file_srcs">  
    <img src='{{ file_src }}' width="80%" class="center-block"/>
</div>