<div class="admin-container">
    <h1>{{eventName}} - Responses</h1>
    <ul>
        <li *ngFor="let challenge of challenges">
            <a (click)="showChallengeResponses(challenge.ChallengeId)">{{challenge.Name}}</a> 
            (<a (click)="downloadPhotos(challenge.ChallengeId)">Download Photos</a>)
        </li>
    </ul>
    <hr>
    <div>
        <img *ngFor="let cr of challengeResponses" src="https://faceoffstorage.blob.core.windows.net/images/res-{{cr.Photo}}" style="max-width: 300px">
    </div>
</div>